$b-blue: hsl(220, 98%, 61%);
$check-bg: linear-gradient(-45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$white: hsl(0, 0%, 100%);

$l-v-l-gray: hsl(0, 0%, 98%);
$l-v-grayish-Blue: hsl(236, 33%, 92%);
$l-l-grayish-blue: hsl(233, 11%, 84%);
$l-d-grayish-blue: hsl(236, 9%, 61%);
$l-v-d-grayish-blue: hsl(235, 19%, 35%);

$d-v-d-blue: hsl(235, 21%, 11%);
$d-v-d-desaturated-blue: hsl(235, 24%, 19%);
$d-l-grayish-blue: hsl(234, 39%, 85%);
$d-l-grayish-blue-hover: hsl(236, 33%, 92%);
$d-d-grayish-blue: hsl(234, 11%, 52%);
$d-v-d-grayish-blue-first: hsl(233, 14%, 35%);
$d-v-d-grayish-blue-seconde: hsl(237, 14%, 26%);

$trans: 0.24s;

$rad: 5px;
